@import 'tailwindcss/base';
/* Global styles like h1 override, etc. */
@import 'custom-base.pcss';

@import 'tailwindcss/components';
/* Global components like button, etc. */

@import 'tailwindcss/utilities';
/* Global utilities */
